



    Label
    com.oasis.systemoptimizer
    ProgramArguments
    
        /usr/bin/python3
        /Users/apple314/Oasis-Sovereign-Monolith/agents_core/oasis_system_optimizer.py
    
    RunAtLoad
    
    StartInterval
    3600
    StandardOutPath
    /Users/apple314/Oasis-Sovereign-Monolith/data/lincos_db/optimizer_daemon.log
    StandardErrorPath
    /Users/apple314/Oasis-Sovereign-Monolith/data/lincos_db/optimizer_daemon_err.log
    WorkingDirectory
    /Users/apple314/Oasis-Sovereign-Monolith


